<!DOCTYPE html>
<html>
	<head>
		<title>RMRC Operator station</title>
	</head>
<body>

<h1>Control the robot arm</h1>

<button id = "buttonUp">Up by 1 cm</button>
<button id = "buttonDown">Down by 1 cm</button>

<h1>Control the robot wheels</h1>
<p>
<label>Use keyboard arrows to control the movement of the robot.</label>
</p>
<p>Speed (between 0 and 255):<br>
	<input id="speedEntry" type="text" name="speed" value = "200">
</p>

<script src="/static/jquery.min.js"></script>
<script src="/static/index.js"></script>
</body>
</html>